.salmon {
  color: salmon;
}
.firebrick {
  color: firebrick;
}
.coral {
  color: coral;
}
.gold {
  color: gold;
}
.forestgreen {
  color: forestgreen;
}
.olive {
  color: olive;
}
.aqua {
  color: aqua;
}
.skyblue {
  color: skyblue;
}
.midnightblue {
  color: midnightblue;
}
.tan {
  color: tan;
}
.sandybrown {
  color: sandybrown;
}
.burlywood {
  color: burlywood;
}

.palevioletred {
  color: palevioletred;
}
.orchid {
  color: orchid;
}
.plum {
  color: plum;
}
.thistle {
  color: thistle;
}
.lavender {
  color: lavender;
}
.chocolate {
  color: chocolate;
}
